@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<YMCA.Domain.Models.Content.IBulletList>
@using Sitecore.Mvc
@using Sitecore.Support

@{
    var placeholderName = "steps-table-level-one_" + Html.Sitecore().CurrentRendering.UniqueId.ToString();
    var childrenExist = YMCA_GTAhelper.DoChildrenExist(placeholderName);
}

@* see /ui/content/StepsTable *@
<div class="component steps-table">
    <h1>@Editable(Model, x => x.Text)</h1>
    @BulletListHelper.WriteListOpenTag(Html, childrenExist)
    @Editable(Model, x => x.Description)
    @Html.Sitecore().DynamicPlaceholder("steps-table-level-one")
    @BulletListHelper.WriteListCloseTag(Html, childrenExist)
</div>